:root{
  --bg-color: light-dark(rgb(251, 247, 222), rgb(37, 38, 44));
  --text-color: light-dark(black, white);
  --header-color: rgb(from var(--text-color) r g b / 0.2)/*light-dark(rgb(241, 241, 236), rgb(25, 26, 27));*/
}

body {
  /*TODO color mode changer? wishlist*/
  color-scheme: light dark;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "IBM Plex Sans", sans-serif;
}

main{
  margin: 0 auto;
  max-width: 50em;
  text-align: center;
}

h1{
  font-family: "Oswald";
}

form{
  input{
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 20%;
    font-size: 32px;
    text-align: center;
  }
}

header{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  min-height: 50px;
  padding: 10px 10px;
  margin: 0 0;
  background-color: var(--header-color);

  p{
    text-align: right;
  }
}

#problem{
  background-color: rgb(239, 239, 239);
  color: black;
  font-size: 24pt;
  font-family:'Times New Roman', Times, serif;
  padding: 18px 18px;
  border-radius: 10px;
}

#result{
  background-color: green;
  color: white;
  opacity: 0%;
  width: 50%;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px auto;
  transition:
    opacity 0.5s;
}

/*Leaderboard table styling*/
table{
  width: 100%;
  border: 2px solid var(--text-color)
}

thead{
  background-color: var(--header-color);
}

tbody{
  tr:nth-of-type(even){
    background-color: rgb(from var(--text-color) r g b / 0.05);
  }
}

td{
  padding: 0px;
}